<h1>Angular Commands List</h1>

<!-- <div class="header">

  <div class="inner-header flex">
    <h1>Angular Commands List</h1>
  </div>

  <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
  </div>
</div> -->



<h2 class="topic">New Command</h2>
<div class="topic-content">
  To create a new Project you have to use this command. <br>
  <code>ng new &lt;ProjectName&gt;</code>
</div>
<br>
<div class="example">
  <b>Example :-</b>
  If you want to create a project named <b>appdemo</b><br>
  <code>ng new &lt;appdemo&gt;</code>
</div>

<h2 class="topic">Generate Command</h2>
<div class="topic-content">
  It will give a list of Schematic which you can generate.<br>
  <code>ng generate</code><br>
  Or<br>
  <code>ng g</code><br><br>
  
  <span>Available Schematics:</span>
  <span>Collection "@schematics/angular" (default):</span>
  <ul>
    <li>app-shell</li>
    <li>application</li>
    <li>class</li>
    <li>component</li>
    <li>directive</li>
    <li>enum</li>
    <li>guard</li>
    <li>interceptor</li>
    <li>interface</li>
    <li>library</li>
    <li>module</li>
    <li>pipe</li>
    <li>resolver</li>
    <li>service</li>
    <li>service-worker</li>
    <li>web-worker</li>
  </ul>
</div>
<br>

<h2 class="topic">Generate Component</h2>
<div class="example">
  <b>Example :-</b>
  If you want to generate a component name <b>home</b><br>
  <code>ng generate component &lt;home&gt;</code>
</div>


<h2 class="topic">To start a project</h2>
<div class="topic-content">
  <b>There are two commands to start a project:</b><br>
  The best one is<br>
  --<code>npm start</code>
</div>
<div class="topic-content">
  Second one is<br>
  --<code>ng serve</code>
</div>

