@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,300&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-weight: 600;
}
h1,h2{
    font-style: normal;
}
.topic{
    color: rgb(104, 206, 2);
}
.head{
    font-weight: 900;
}
.note{
    color: rgb(2, 173, 179);
}