<div class="container">
  <form #signInForm="ngForm" (ngSubmit)="loginUser(signInForm);">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        name="emailAddressField" ngModel required #emailAddressField="ngModel">
      <small class="form-text text-muted" *ngIf="emailAddressField.touched && !emailAddressField.valid">User please
        enter email address</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="passwordField" ngModel required
        #passwordField="ngModel">
      <small class="form-text text-muted" *ngIf="passwordField.touched && !passwordField.valid">User please enter the
        password</small>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" name="termsField" ngModel>
      <label class="form-check-label" for="exampleCheck1">Agree to terms</label>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Notes</label>
      <textarea class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="notesField"
        ngModel></textarea>
    </div>
    <!-- Second Way to perform form Validation in Template driven Interface [disabled]="!signInForm.valid" -->
    <button type="submit" class="btn btn-primary" [disabled]="!signInForm.valid">Submit</button>
  </form>
</div>